/* mobile devices */
@media screen and (max-width: 576px) {
   html{
    font-size: 8px;
   }
    nav{
      padding: 00px 0px;
    }
    
  .nav-container  ,.nav-ancor,.logos  {
  flex-direction: column;
 
}
.follow-us
{
    width: 198px;
    
} 
/* banner responsive */
   .banner-container {
    flex-direction: column;  
     
}
.banner-right {
  height:70% ;
  padding: 0px;
}
.banner-right img {
  height: 250px;
 padding: 0;
 margin: 30px 70px ;
}
.banner-content{
  padding: 50px 100px;
  
}

.banner-section-responsive{
  margin-bottom: 250px;
}
/* game type start */
.game-type-container{
  padding: 10px;
}
.nine-container{
  width: 100%;
  grid-template-columns: repeat(3,1fr);
  margin: 0;
  }
  .nine-container img{
    height: 10px;
  }
/* game type end */

/* footer start */
.foot-a {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 5px;
  color: #fff;
  text-align: center;

  font-size: 1.125rem;

  font-weight: 600;
}
/* footer end */

}





