/* mobile devices */
@media screen and (max-width: 576px) {
  /* body{
    width: 425px;
    
    overflow: hidden;
  } */
   html{
    font-size: 8px;
   }
    nav{
      padding: 0px 0px;
      box-shadow: 0px;
    }
    
  .nav-container  ,.nav-ancor,.logos  {
  flex-direction: column;
 
}
.follow-us
{
    width: 198px;
    
} 
/* banner responsive */
   .banner-container {
    flex-direction: column;  
     
}
.banner-right {
  height:70% ;
  padding: 0px;
}
.banner-right img {
  height: 250px;
 padding: 0;
 margin: 30px 70px ;
}
.banner-content{
  padding: 50px 100px;
  
}

.banner-section-responsive{
  margin-bottom: 250px;
}
/* game type start */
.game-type-container{
  padding: 10px;
}
.nine-container{
  width: 100%;
  grid-template-columns: repeat(3,1fr);
  margin: 0;
  }
  .nine-container img{
    height: 10px;
  }
/* game type end */
/* play instantly */
.play-instant-container {
    flex-direction: column;
}
/* play instantly end */
/* footer start */
.foot-a {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 5px;
  color: #fff;
  text-align: center;

  font-size: 1.125rem;

  font-weight: 600;
}
/* footer end */
/* test start */
nav{
  padding: 0;
  box-shadow: 0;
}
.nav-container{
  flex-direction: column;
  max-width: 400px;
  min-width: 40px; 
  /* min part check */
}
.nav-logo-container {
  
  gap: 5px;
  width: fit-content;
  /* width check */
  /* play test */
}
  .play-img {
    width: 300px;
    height: 250px;
    margin-top: 20px;
    margin-left: 100px;
    margin: 0px;
  }
  .play-instant-container {
   
    gap: 10px;
    max-width: 400px;
    max-height: 400px;
    margin-top: 100px;
  
  }
  .play-instant-image{
    width: 400px;
    height: 400px;
  }
  .sub-img{
    width: 80px;
    height: 100px;
  }
  .instant-sub-img {
    margin: 0px;
    position: relative;
    bottom: 100px;
  }

  /* puse */
}


/* test end */








