/* mobile devices */
@media screen and (max-width: 576px) {
  body{
    
    margin: auto;
    
  }
   html{
    font-size: 8px;
   }
   nav{
    margin-bottom: 80px;
   }
    .nav-container{
      padding-top: 20px;
      gap: 20px;
    }
  .nav-container  ,.nav-ancor,.logos, .banner-container  {
  flex-direction: column;
 
}
.banner-container{
  padding-left: 30px;
  margin-bottom: 70px;
}
.follow-us
{
    width: 120px;
   margin-bottom: 10px; 
} 

/* game type start */
.game-type-container{
  padding: 30px;
}
.nine{
  width: 100%;
  gap: 14px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 0;
  }
  .nine img{
    height: 20px;
  }
/* game type end */
/* play instantly */
.play-instant-container {
    flex-direction: column;
}
/* play instantly end */
/* footer start */
.foot-a {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 5px;
  color: #fff;
  text-align: center;

  font-size: 1.125rem;

  font-weight: 600;
}
/* footer end */
/* test start */
nav{
  padding: 0;
  box-shadow: 0;
}
.nav-container{
  flex-direction: column;
  max-width: 400px;
  min-width: 40px; 
  /* min part check */
}
.nav-logo-container {
  
  gap: 5px;
  width: fit-content;
  /* width check */
  /* play test */
}
  .play-img {
    width: 300px;
    height: 250px;
    margin-top: 20px;
    margin-left: 100px;
    margin: 0px;
  }
  .play-instant-container {
   
    gap: 10px;
    max-width: 400px;
    max-height: 400px;
    margin-top: 100px;
  
  }
  .play-instant-image{
    width: 300px;
    height: 250px;
  }
  .sub-img{
    width: 80px;
    height: 100px;
  }
  .instant-sub-img {
    margin: 0px;
    position: relative;
    bottom: 100px;
    width: 100px;
  }


  /* single game start  */ 
 
  .pictures-titles { 
    width: 100%; 
    text-align: center; 
    position: relative; 
    display: inline-block; 

} 
.watch { 
    display: none; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: rgb(212, 212, 212); 
    width: 150px; 
    height: 150px; 
    text-align: center; 
    font-size: 25px; 
    
} 
 
.watch-play-icon{ 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
     
}  
 
.watch-play p { 
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%)); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-weight: 600; 
}   
 
.pictures-titles:hover::before { 
    content: ""; 
    position: absolute; 
    margin-left: 70px; 
    margin-right: 0px; 
    top: 0px; 
    left: 13px; 
    width: 58%; 
    height: 89%; 
    border-radius: 10px; 
    background-color: rgba(0, 0, 0, 0.8); 
     
} 
 
.pictures-titles:hover .watch { 
    display: block; 
     
    
} 
.play-instant-container {
  flex-direction: column;
}
 
/* single game end  */



}


/* test end */


@media screen and (min-width:576px) and (max-width:960px){
  .nav-container  ,.nav-ancor, .play-instant-container  {
    flex-direction: column;
   
  }
      .nav-container{
      padding-top: 20px;
      gap: 20px;
    }
    .banner-container{
      padding-left: 60px;
      padding-top: 120px;
      margin-bottom: 0px;
    }
  .watch-play-icon{ 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
     
}  
.banner-container {
  flex-direction: column;  
   
}

.nine{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 0;
  }
  .online-game-container{
    padding-top: 80px;
  }
  .banner-left{
    margin: auto;
    margin-bottom: 10px;
  }
  .banner-right{
    margin: auto;
  }
  .footer-container {
    width: 80%;
  }
  .pictures-titles:hover::before { 
  
    width: 100%; 
    height: 85%; 
    
  } 
 
}




